{
	"root": true,
	"extends": [
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": ["prettier", "@typescript-eslint", "testing-library"],
	"overrides": [
		// Only uses Testing Library lint rules in test files
		{
			"files": [
				"**/__tests__/**/*.[jt]s?(x)",
				"**/?(*.)+(spec|test).[jt]s?(x)"
			],
			"extends": ["plugin:testing-library/react"]
		}
	],
	"rules": {
		"prettier/prettier": "error",
		"@typescript-eslint/no-unused-vars": "error",
		"@typescript-eslint/no-explicit-any": "error"
	}
}
