{
	"arrowParens": "always",
	"bracketSpacing": true,
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindFunctions": ["clsx", "cva"]
}
