name: release

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup

      - name: Release
        run: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
